footer {
  background-color: #37bba5;
  color: black;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); /* Footer shadow */
  border-top: 0px solid #ccc; /* Line at the top of the footer */
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: #ccc;
  text-decoration: none;
}

header {
  background-color: #37bba5; /* Blue background */
  color: black; /* White text */
  text-align: center; /* Center the text */
  padding: 8px 0; /* Add padding to the top and bottom */
  font-size: 10px; /* Larger font size for the header */
  font-weight: bold; /* Make the text bold */
  position: fixed; /* Position it relative to the rest of the page */
  width: 100%;
  top: 0; /* Aligns it to the top */
  left: 0; /* Aligns it to the left */
}
